<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regex 101 Clone</title>
</head>
<body>
    <h1>Welcome to Regex 101 Clone!!</h1>

    <form action="{{url_for('mat')}}">
    <label>Enter regular expression</label>
    <input type="text" name="test"><br>
    <label>Enter test string</label>
    <input type="text" name="reg"><br>
    <button>Match</button>
    </form>
</body>
</html>